body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

h1 {
  color: #333;
  text-align: center;
  display: block;
}   

.hidden {
  display: none; 
}

.menu {
  background-image: url("img/baseBackground.png");
  background-color: #167556;
}

.game {
  background-image: url("img/gameBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(40, 119, 60);
}

.playButton {
  text-align: center;
}

.playButton {
  text-align: left;
  font-size: 30px;
  background-color: #167556;
}

.hand {
  text-align: center;
}

.hitStandButton {
  text-align: center;
}

.resultMessage {
  color: #333;
  text-align: center;
  opacity: 0.5;
}

.returnButton {
  text-align: center;
}